<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Vote admin{% endblock %}</title>
    <meta charset="UTF-8">
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div id="app">
    <div id="header">
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
            <menu-top :user-name="{{ app.user.name | capitalize | json_encode | e('html_attr') }}"
                      :user-surname="{{ app.user.surname | capitalize | json_encode | e('html_attr') }}"
                      :user-roles="{{ app.user.roles | json_encode | e('html_attr')}}"
                      :logout-path="{{ path('admin_logout') | capitalize | json_encode | e('html_attr') }}"
                      :current-page="{{ current_page | json_encode | e('html_attr') }}"></menu-top>
        {% endif %}
    </div>
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    <script type=text/javascript src={{ app.vue_path }}/dist/app.js></script>
{% endblock %}
</body>
</html>